{% extends "game/base.html" %}
{% load static %}
{% block content %}
    <h1>{{ action_title }} Game</h1>
    <div>
        <form id="game-form" method='POST'>
            {% csrf_token %}
            {{ game_form.as_p }}
            {{ player_formset.management_form }}
            <div id='add-player-form'>
                {% for form in player_formset %}
                    <div class='add-player-row'>
                        Name: {{ form.name }}

                        Email: {{ form.email }}

                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}


                        <button class="rmv-player-btn">Remove</button>
                        <span class="display-none">{{ form.DELETE }}</span>
                    </div>
                {% endfor %}
            </div>
            <button id='add-player-btn'>Add player</button>
            <button id='submit-game-btn'  type='submit'>{{ action_title }} Game</button>
        </form>
    </div>

    {% if 'Update' == action_title %}
        <script src="{% static 'game/update_game_form.js' %}"></script>
    {% else %}
        <script src="{% static 'game/create_game_form.js' %}"></script>
    {% endif %}
{% endblock content %}
