{% extends "game/base.html" %}
{% load static %}
{% block content %}
    <h1>Create a game</h1>
    <div>
        <form id="game-form" method='POST'>
            {% csrf_token %}
            {{ game_form.as_p }}
            {{ player_formset.management_form }}
            <div id='add-player-form'>
                {% for form in player_formset %}
                    <div class='add-player-row'>
                        First name: {{ form.first_name }}
                        Last name: {{ form.last_name }}

                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}


                        <button class="rmv-player-btn">Remove</button>

                        {{ form.DELETE }}

                    </div>
                {% endfor %}
            </div>
            <button id='add-player-btn'>Add player</button>
            <button type='submit'>Create Game</button>
        </form>
    </div>
    <script src="{% static 'game/game_form.js' %}"></script>
{% endblock content %}
