{% extends "game/base.html" %}
{% load static %}
{% block content %}
	<h1>Game Title</h1>
    <div>
    	<h3>{{ object.title }}</h3>
    	<p>Host: {{ object.host }}</p>

    	<h4>Players</h4>
    	<ul id="player-list">
	    	{% for player in object.player_set.all %}
	    		<li>
                    <div>
                        {{ player.name }} 
                        <span class="recipient-info display-none">➨ 
                            {{ player.recipient.name }} 
                        </span>
                        <button class="rvl-recipient-btn">Reveal Recipient</button>
                    </div>
                </li>
	    	{% endfor %}
    	</ul>
    	<div>
            <a href="{% url 'game-notify-players' game.id %}">Notify Players</a>
	    	<a href="{% url 'game-update' game.id %}">Edit</a>
	    	<a href="{% url 'game-delete' object.id %}">Delete Game</a>
    	</div>
    </div>
    <script src="{% static 'game/game_detail_view.js' %}"></script>
{% endblock content %}
