{% extends "game/base.html" %}
{% load static %}
{% block content %}
    <h1>{{ action_title }} Game</h1>
    <div>
        <form id="game-form" method='POST'>
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {{ game_form|crispy }}                          <!-- Game form -->
            {{ player_formset.management_form|crispy }}     <!-- Player form -->
            <div id='add-player-form'>
                {% for form in player_formset %}
                    <div class='add-player-row mt-2'>

                        {{ form }}

                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                        <button class="rmv-player-btn btn btn-light">Remove</button>
                    </div>
                {% endfor %}
            </div>
            <div>
                <ul id="criteria-list">
                    <li id="odd-player-msg">Even number of participants required</li>
                    <li id="min-player-msg">Minimum of 4 participants required</li>
                </ul>
            </div>
            <button id='add-player-btn' class="btn btn-light">Add player</button>
            <button id='submit-game-btn' type='submit' class="btn btn-primary">{{ action_title }} Game</button>
        </form>
    </div>

    {% if 'Update' == action_title %}
        <script src="{% static 'game/update_game_form.js' %}"></script>
    {% else %}
        <script src="{% static 'game/create_game_form.js' %}"></script>
    {% endif %}
{% endblock content %}
