{% extends "game/base.html" %}
{% load static %}
{% block content %}
    <h3>{{ action_title }} Game</h3>
    <div>
        <form id="game-form" method='POST'>
            {% csrf_token %}
            {% load crispy_forms_tags %}
            <div style="max-width: 26em;">{{ game_form|crispy }}</div>
            <p>Players</p>
            {{ player_formset.management_form|crispy }}
            <ul id='add-player-form' class='list-group'>
                {% for form in player_formset %}
                    <li class='add-player-row list-group-item'>
                        <div class="form-row">
                            <div class="form-group col-md-5" style="max-height: 4em;">
                                {{ form.name|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-5" style="max-height: 4em;">
                                {{ form.email|as_crispy_field }}
                            </div>

                            {% if 'Update' == action_title %}
                            <span style="display: none">{{ form.DELETE|as_crispy_field }}</span>
                            {% endif %}

                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <div class="form group col-md-2">
                                <button class="rmv-player-btn btn btn-primary float-bottom" style="margin-top: 2em;">Remove</button>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div id="criteria-list" class="mt-3">
                <div id="odd-player-msg" class="alert alert-info">Even number of participants required</div>
                <div id="min-player-msg" class="alert alert-info">Minimum of 4 participants required</div>
            </div>
            <button id='add-player-btn' class="btn btn-light">Add player</button>
            <button id='submit-game-btn' type='submit' class="btn btn-primary">{{ action_title }} Game</button>
        </form>
    </div>

    {% if 'Update' == action_title %}
        <script src="{% static 'game/update_game_form.js' %}"></script>
    {% else %}
        <script src="{% static 'game/create_game_form.js' %}"></script>
    {% endif %}
{% endblock content %}
