{% extends "game/base.html" %}
{% block content %}
	<h2>Current Games</h2>
    <div>
        {% if user.game_set.count == 0 %}
        <div>
            <span style="font-size: 64pt">🤖❓</span>
            <br>
            Hmm. . . It looks like no games have been created yet. Create a game and it will be listed here.
        </div>
        <div class="mt-3">
            <a class="btn-lg btn-primary" href="{% url 'game-create' %}">Create a Game</a>
        </div>
        {% else %}
        <ul class="list-group">
    	{% for game in user.game_set.all %}
    		<li class="list-group-item" style="/*max-width: 26em;*/">
    			<a href="{% url 'game-detail' game.id %}">{{ game.title }}</a>
                <span class="float-right">
                <a href="{% url 'game-detail' game.id %}" class="btn-sm btn-primary">View</a>
                <a href="{% url 'game-update' game.id %}" class="btn-sm btn-primary">Edit</a>
                <a href="{% url 'game-delete' game.id %}" class="btn-sm btn-danger">Delete</a>
    		</li>
    	{% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock content %}
